.draw {
  display: flex;
}
.home {
  color: #eaeaea;
  align-self: center;
  text-align: center;
  flex-grow: 1;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.header nav{
  display: none;
}

.banner {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
.banner img{
  max-width: 100%;
}
.container {
  background-color: #000;
  color: #fff;
}
.header {
  background-color: #fff;
  padding-top: 0.2rem;
}
.main {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
}
.mainService {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: #000;
}
.serviceContainer {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  width: 100%;
  border-radius: 0.5rem;
  text-align: center;
}
.serviceContainer section p{
  margin: 1rem;
  border-radius: 0.5rem;
  text-align: left;
  color: rgb(234, 235, 236);
  font-weight: bolder;
  font-size: 1.5rem;
}
.serviceIcons{
  margin-bottom: 2rem;
}
.serviceIcons div{
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}
.serviceIcons div div{
  flex-direction: column;
  display: flex;
  align-items:center ;
  margin: 0;

}
.serviceIcons div div p{
  font-size: 1rem;

}
.sectionArticle{
  margin-top: 10vh;
}

.sectionArticleContact{
  margin: 15vh  0 15vh;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 0 0 1rem 0;
  justify-content: center;
  background-color:#1d1c14;
  align-items: center;
}

.unitContainer{
  margin-top: 4rem;
}


.unitContainer h2.title{
  margin-bottom: 2rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}
.about{
text-align: justify;
font-size: 1rem;
padding: 1rem;
}
.titleService {
  padding-top: 1rem;
  text-align: center;
  line-height: 1.15;
  font-size: 3rem;
}
.contactTitle{
  margin-top: 1rem;
  line-height: 1.15;
  font-size: 3rem;
}
h2.title {
  margin-bottom: 1rem;
  line-height: 1.15;
  font-size: 1.9rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}


.contact {
  width: 90%;
  margin: 2rem auto;
}
.submitButton {
  text-align: center;
}
.FormControl {
  margin: 1rem auto;
  width: 80%;
}
.floatButton{

  position: fixed;
  bottom: 4.5vw;
  right: 3vw;
  animation:pop 1s ease-out
}
@keyframes pop {
  50%
  {transform: scale(1.2);}


}

.floatButtonLeft{

  position: fixed;
  bottom: 5vw;
  left: 3vw;
}
.error {
  color: red;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.social {
  text-align: center;
  width: 100%;
}
.containner {
  margin-top: 1rem;
  width: 200px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: -1px 5px 15px black;
}

/*Area of images*/
.wrapper {
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

.wrapper img {
  width: 100%;
}
/*Animation activated by keyframes*/
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}

.draweritem {
/*   border-bottom: 1px solid #ccc;
 */  width: 70%;
  margin-top: 0.5rem;
}

@media (min-width: 1000px) {
  .draw {
    display: none;
  }

  .FormControl {
    width: 70%;
    margin: 0 auto;
}

  header.header nav{
    display: block;
    padding: 0.1rem;
  }
  header.header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header nav ul li{
    background-color: rgb(190, 15, 15);
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.5s ease-out;

  }
  .header nav ul li:hover{
    opacity: 1;
  }
  .serviceContainer {
    background: #ccc;
    width: 50%;
    margin: 0 auto;
    border-radius: 0.5rem;
    text-align: center;
  }
  div.banner{
display: flex;
justify-content: center;  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
