.draw {
  display: flex;
}
.home {
  color: #eaeaea;
  align-self: center;
  text-align: center;
  flex-grow: 1;
  margin-right: 1em;
}
.banner {
  min-height: 100vh;
  animation: 1s ease-out 0s 1 slide;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.container {
  background-color: #000;
  color: #fff;
}
.header {
  background-color: #fff;
}
.main {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
}
.serviceContainer {
  background-color: #ccc;
  width: 100%;
  text-align: center;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #ccc;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

h2.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.contactForm {
  background-color: #ccc;
  width: 100%;
}
.contact {
  width: 90%;
  margin: 1rem auto;
}
.submitButton {
  text-align: center;
}
.FormControl {
  margin: 1rem 1rem;
}
.floatButton{

  position: fixed;
  bottom: 5vw;
  right: 3vw;
}
.floatButtonLeft{

  position: fixed;
  bottom: 5vw;
  left: 3vw;
}
.error {
  color: red;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.social {
  text-align: center;
  width: 100%;
}
.containner {
  margin-top: 1rem;
  width: 200px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: -1px 5px 15px black;
}

/*Area of images*/
.wrapper {
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

.wrapper img {
  width: 100%;
}
/*Animation activated by keyframes*/
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}

.draweritem {
  border-bottom: 1px solid #ccc;
  width: 70%;
  margin-top: 0.5rem;
}
@media (min-width: 1000px) {
  .draw {
    display: none;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
